<header>
    <div class="logo-area">
        <img src="/images/site/icon.png" alt="CSE Motors Logo">
        <h1>CSE Motors</h1>
    </div>

    <div class="account-area">
        <a href="#">My Account</a>
    </div>
</header>
